@model A_StateOnline.Core.ViewModels.CartSummaryVM

<ul class="navbar navbar-nav text-right">
    <li><a href="@Url.Action("Index", "Cart")">Cart
        <span class="badge bg-info">@Model.CartCount</span>
        </a></li>
    <li><a href="@Url.Action("Index","Cart")">@String.Format("{0:c}",Model.CartTotal)</a></li>
</ul>
